{% extends 'base.html' %}
{% block content %}



<div class="container" id="lform" style="width:30%;">
        <div class="center-align">
            <h3> </h3>
<h2><b>Welcome {{ NAME }}</b></h2>
<h2> </h2>
    <div class="row">

    <form method='GET'>
    <div class="input-field col s6">
        <input name='cv' id="name" type="text" class="validate">
         <label for="name">Search</label>
        </div>
    <div class='col s6'>
      <button class="btn waves-effect waves-light" type="submit" >Search CV-s
        <i class="material-icons right">search</i>
      </button>
     </div>
     </form>
    </div>

    <div class="row">
        <table>
          <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Full name</th>
            <th>E-mail</th>
            <th>Delete</th>
            <th>Modify</th>
            </tr>

            {% for cv in USERS %}
            <tr>
                <td>{{ cv.id }}</td>
               <td>{{ cv.category }}</td>
               <td>{{ cv.name }}</td>
               <td>{{ cv.email }}</td>
               <td>
                  <a href = "{{ url_for('.delete',id=cv.id)}}">Delete {{cv.name}}</a>
                </td>
                <td>
                    <a href = "{{ url_for('.update',id=cv.id)}}">Update </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>



<h2> </h2>
<form method='POST'>
    <div class='col s12'>
      <button class="btn waves-effect waves-light" type="submit" >Post your CV
        <i class="material-icons right">create</i>
      </button>
            </div>
      </form>


<h2> </h2>
<h4>Follow us on:  </h4>

<div class="wrapper">
  <a href="http://www.google.com"><i class="fa fa-3x fa-google-plus"></i></a>
  <a href="http://www.facebook.com"><i class="fa fa-3x fa-facebook-square"></i></a>
  <a href="http://www.twitter.com"><i class="fa fa-3x fa-twitter-square"></i></a>
  <a href="https://github.com" class="fa fa-3x fa-github-square"></a>
  <a href="https://pinterest.com" class="fa fa-3x fa-pinterest-square"></a>
  <a href="https://instagram.com" <i class="fa fa-instagram" style="font-size:48px"></i></a>
  <a href="https://pinterest.com" class="fa fa-3x fa-youtube-square"></a>
</div>


         </div>
{% endblock %}
