{% extends 'base.html' %}
{% block content %}
<div class="container" id="lform" style="width:80%;">
        <div class="center-align">
            <h3> </h3>
<h2><b>This is {{ NAME }}'s personal CV page</b></h2>
<h2> </h2>

        <div class="row">
           <form method='POST'>
        <div class="input-field col s6">
            <i class="material-icons prefix">short_text</i>
            <input name='name' placeholder="Enter full name" id="name" type="text" class="validate" value="{{USERS.name}}>
              <label for="name">Full Name</label>
            </div>
        </div>

       <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
          <input id="mail" placeholder="Enter e-mail" type="text" class="validate" value="{{USERS.mail}}>
          <label for="mail">Email</label>
        </div>
      </div>

        <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="telephone"  placeholder="Telephone" type="number" class="validate" value="{{USERS.telephone}}>
          <label for="telephone">Telephone</label>
        </div>
        </div>

        <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">map</i>
              <input name='address' placeholder="Enter address" id="address" type="text" class="validate" value="{{USERS.address}}>
                <label for="address">Address</label>
            </div>
        </div>

        <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">merge_type</i>
              <input name='category' placeholder="Enter work category" id="category" type="text" class="validate" value="{{USERS.category}}>
                <label for="category">Category</label>
            </div>
        </div>

        <div class="row">
        <div class="input-field col s6">
        <i class="material-icons prefix">school</i>
            <input name='date' id="date" type="date" class="validate">--<input name='date' id="date" type="date" class="validate" value="{{USERS.education}}>
              <input name='education' placeholder="Enter education" id="education" type="text" class="validate">
                <label for="education">Education</label>
            </div>
        </div>

        <div class="row">

        <i class="material-icons prefix">language</i>
              <input name='language' placeholder="Enter languages" id="language" type="text" class="validate" value="{{USERS.language}}>
                <label for="language">Language</label>

<div class="row">
  <form action="#">
       <p>
      <label>
        <input name="level1" type="radio"  />
        <span>A</span>
      </label>
      <label>
        <input name="level1" type="radio" />
        <span>B</span>
      </label>

      <label>
        <input name="level1" type="radio" />
        <span>B+</span>
      </label>

      <label>
        <input name="level1" type="radio" />
        <span>C</span>
      </label>
    </p>
  </form>
</div>

<div class="row">
<div class="input-field col s6">
<i class="material-icons prefix">work</i>
<input name='date' id="date" type="date" class="validate">--<input name='date' id="date" type="date" class="validate" value="{{USERS.work}}>
  <input name='work' placeholder="Enter work experience" id="work" type="text" class="validate">
    <label for="category">Work experiences</label>
</div>
</div>

<div class="row">
<div class="input-field col s6">
<i class="material-icons prefix">list</i>
  <input name='skills' placeholder="Enter your skills" id="skills" type="text" class="validate" value="{{USERS.skills}}>
    <label for="skills">Your skills (Description) </label>
</div>
</div>

<div class='col s6'>
              <button class="btn waves-effect waves-light" type="submit" name="action">Create
                <i class="material-icons right">create</i>
            </button>
            </form>
            </div>
</div>
{% endblock %}