{% extends "base.html" %}

{% block content %}
<div class="center-align">
<div class="container" id="lform" style="width:30%;">
<div class = "card-panel green darken-4">


<h3> <b>Welcome to CV-spot</b></h3>
</div>
<h6>The place where you can find the right <b>spot</b> for your company</h6>
<h4> </h4>
<h6><b>Sign in or Register</b></h6>

    <form action="" method="post" novalidate style="text-align: left;">
        {{ form.hidden_tag() }}
        <p id='login_username'>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p id='login_password'>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
       {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
        <p id='login_buttons' style="text-align: center;">{{ form.submit() }}</p>
    </form>
        </div>
        <p id="login_info" style="text-align: center;">Please sign or <a href='/new_user'>register</a>.</p>
    </div>
{% endblock %}
