{% extends "base.html" %}

{% block content %}
 <form method='POST'>
<div class="container" id="lform" style="width:80%;">
<div class="center-align">

<h3> </h3>

<div class = "card-panel blue-grey lighten-4">
<h2><b>This is {{ NAME }}'s personal CV page</b></h2>
</div>

<h2> </h2>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">short_text</i>
                <input name='name' placeholder="Enter full name" id="name" type="text" class="validate">
                <label for="name">Full Name</label>
            </div>
        </div>

       <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <input id="email" placeholder="Enter e-mail" type="text" class="validate">
            <label for="email">Email</label>
        </div>
      </div>

        <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="telephone"  placeholder="Telephone" type="number" class="validate">
              <label for="telephone">Telephone</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">map</i>
                <input name='address' placeholder="Enter address" id="address" type="text" class="validate">
                <label for="address">Address</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">merge_type</i>
                <input name='category' placeholder="Enter work category" id="category" type="text" class="validate">
                <label for="category">Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">school</i>
                <input name='date' id="date" type="date" class="validate">--<input name='date' id="date" type="date" class="validate">
                <input name='education' placeholder="Enter education" id="education" type="text" class="validate">
                <label for="education">Education</label>
            </div>
        </div>

        <div class="row">
            <i class="material-icons prefix">language</i>
            <input name='language' placeholder="Enter languages" id="language" type="text" class="validate">
            <label for="language">Language</label>
        </div>
<div class="row">
       <p>
      <label>
        <input name="level1" type="radio"  />
        <span>A</span>
      </label>
      <label>
        <input name="level1" type="radio" />
        <span>B</span>
      </label>

      <label>
        <input name="level1" type="radio" />
        <span>B+</span>
      </label>

      <label>
        <input name="level1" type="radio" />
        <span>C</span>
      </label>
    </p>
</div>

<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">work</i>
        <input name='date' id="date" type="date" class="validate">--<input name='date' id="date" type="date" class="validate">
        <input name='work' placeholder="Enter work experience" id="work" type="text" class="validate">
        <label for="category">Work experiences</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">list</i>
        <input name='skills' placeholder="Enter your skills" id="skills" type="text" class="validate">
        <label for="skills">Your skills (Description) </label>
    </div>
</div>

    <div class='col s6'>
    <button class="btn waves-effect waves-light" type="submit" name="action">Create
    <i class="material-icons right">create</i>
    </button>
    </div>

</form>
</div>
</div>
{% endblock %}
